.navbar {
  z-index: 99;
  padding: 1rem 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.border {
  border-bottom: 1px solid #e6e6e6;
}

.logo {
  height: 7rem;
}
.signupButton {
  z-index: 9;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
