.signin {
  background: url(../../../assests/login-background.jpg);
  height: 100vh;
}
.signInScreen {
  max-width: 30%;
  height: 60%;
  padding: 70px;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  background: rgba(0, 0, 0, 0.85);
}
.signInScreen > form {
  display: grid;
}
.signInScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}
.signInScreen > form > button {
  padding: 1rem 1.2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}
.signInScreen > form > h1 {
  text-align: left;
  margin-bottom: 25px;
  color: white;
  font-size: 2.5rem;
}
.signInScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
.signInScreen__gray {
  color: gray;
}

.signInScreen__link {
  color: white;
}
.signInScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password {
  display: flex;
  cursor: pointer;
  margin: 1rem;
  background: transparent;
}

.signInScreen p {
  margin: 0;
  padding-bottom: 0.5rem;
  color: #e50914;
  font-size: 1rem;
}
