.banner {
  margin-left: 0.5rem;
}
.banner__buttons {
  display: flex;
}

.banner__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner__button:hover {
  color: black;
  background-color: #e6e6e6;
  transition: all 250ms;
}

.banner_lists {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}

.banner_lists::-webkit-scrollbar {
  display: none;
}

.banner_lists img {
  position: relative;
  z-index: 10;
  max-width: 150vh;
  border-radius: 0.5rem;
  cursor: pointer;
}

.banner__contents {
  z-index: 15;
  position: absolute;
  bottom: 100px;
  padding-left: 1rem;
}

.banner__title {
  font-size: 2.5rem;
  font-weight: 800;
  /* padding-bottom: 0.3rem; */
}
.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

@media (max-width: 56rem) {
  .banner {
    margin-top: 4rem;
  }
  .banner_lists img {
    max-width: 90vw;
  }
  .banner__contents {
    max-height: 10rem;
    bottom: 10px;
  }
  .banner__title {
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
  }

  .banner__description {
    display: none;
  }
}
